VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhdXNzcW9yd2NjZWdxeWd4dGN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5NjA5ODYsImV4cCI6MjEwMjUzNjk4Nn0.5Il5yqkjDzTk7vO4e0E8ZmwKtCum__F6SOG9W4a_-SY
